.form {
  display: flex;
  margin: 0 auto;
  max-width: 522px;
  max-height: 86px;
  padding-bottom: 120px;
  gap: 12px;
}

.container {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 16px;
}
