.form {
  display: flex;
  width: 980px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 50px;
}

.button {
    min-width: 205px;
  }
  

.columns {
  margin: 0 auto;
  padding: 0;
  min-height: 340px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 10px;
  list-style: none;

}
